<html>
<script src="compressed_form.js"></script>
<script language="JavaScript">
  function leave() {
    <!--alert("leaving page")-->
  }

<!--   function show_stuff() { -->
<!--     document.formname.submit() -->
<!--     alert(document.getElementById(textareaID).value); -->
<!--   } -->

</script>

<!--mobwrite.syncGateway='http://mobwrite2.appspot.com/scripts/q.py';-->
<body onload="
  mobwrite.syncGateway='q.py.mpy';
  mobwrite.share('%(textareaID)s');
  %(syncGateway)s
  "
  onUnload="leave()">


<form name="formname" action="getdata.py">
<textarea ID="%(textareaID)s" style="width: 100%%; height:95%%"></textarea>
</form>
<a href="%(staticLink)s">Static link</a> %(pageNews)s
</body>
</html>
